In [1]:
import pandas as pd

In [15]:
df_brandenburg = pd.read_csv('../Data/brandenburg_cleaned.csv')
df_brandenburg.head()

,Unnamed: 0,land,city,balcony,living_space,total_rent,service_charge,base_rent,lift,pets_allowed,floor,no_rooms,garden,cellar,noParkSpaces
0,0,Brandenburg,Oder_Spree_Kreis,True,36.29,335.00,50.00,285.00,True,negotiable,1.0,1.0,False,True,0.0
1,1,Brandenburg,Märkisch_Oderland_Kreis,True,60.71,365.00,65.00,300.00,False,no,0.0,2.0,False,True,0.0
2,2,Brandenburg,Brandenburg_an_der_Havel,True,67.80,590.00,170.00,420.00,True,yes,0.0,3.0,False,True,0.0
3,4,Brandenburg,Dahme_Spreewald_Kreis,True,69.00,520.00,150.00,370.00,False,negotiable,2.0,2.0,True,True,1.0
4,5,Brandenburg,Uckermark_Kreis,True,57.38,378.71,71.73,306.98,False,negotiable,4.0,3.0,False,True,0.0

the factors that most positively influence the rent amount (correlation> = 0.3) are: living space, no_rooms,noParkSpaces are clearly correlated

In [16]:
brb_df=df_brandenburg[['total_rent', 'living_space','no_rooms','noParkSpaces']].copy()

## Processing Data

In [17]:
brb_df.head()

   total_rent  living_space  no_rooms  noParkSpaces
0      335.00         36.29       1.0           0.0
1      365.00         60.71       2.0           0.0
2      590.00         67.80       3.0           0.0
3      520.00         69.00       2.0           1.0
4      378.71         57.38       3.0           0.0

In [18]:
# X-y split
X=brb_df.drop('total_rent', axis=1)
y=brb_df.total_rent

In [19]:
#train-test split
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test=tts(X, y, test_size=.2)

In [20]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaler.fit(X_train)

X_train_scaled_np = scaler.transform(X_train)
X_test_scaled_np  = scaler.transform(X_test)

X_train_scaled_df = pd.DataFrame(X_train_scaled_np, columns=X.columns, index=X_train.index)
X_test_scaled_df  = pd.DataFrame(X_test_scaled_np, columns=X.columns, index=X_test.index)

### Linear Regression

In [29]:
#Apply linear regression
from sklearn.linear_model import LinearRegression as LinReg

linreg=LinReg()    # model
linreg.fit(X_train_scaled_df, y_train)   # model train
y_test_pred_linreg=linreg.predict(X_test_scaled_df)   # model prediction

## Model Validation

In [11]:
print ('train R2: {} -- test R2: {}'.format(linreg.score(X_train_scaled_df, y_train),
                                            linreg.score(X_test_scaled_df, y_test)))

train R2: 0.5586239601825731 -- test R2: 0.5156369372536764

In [12]:
from sklearn.metrics import mean_squared_error as mse

train_mse=mse(linreg.predict(X_train_scaled_df), y_train)
test_mse=mse(linreg.predict(X_test_scaled_df), y_test)

print ('train MSE: {} -- test MSE: {}'.format(train_mse, test_mse))

train MSE: 18384.681444125716 -- test MSE: 20954.654316580203

In [13]:
print ('train RMSE: {} -- test RMSE: {}'.format(train_mse**.5, test_mse**.5))

train RMSE: 135.5901229593281 -- test RMSE: 144.75722543824955

In [14]:
from sklearn.metrics import mean_absolute_error as mae

train_mae=mae(linreg.predict(X_train_scaled_df), y_train)
test_mae=mae(linreg.predict(X_test_scaled_df), y_test)

print ('train MAE: {} -- test MAE: {}'.format(train_mse, test_mse))

train MAE: 18384.681444125716 -- test MAE: 20954.654316580203