# Research Questions

## 1. How is rent price distribution in Land Brandenburg (Germany)?

## 2. Which city has the most expensive rent in Land Brandenburg (Germany)?
    or which city is the the cheapest?

## 3. What are the factors (such as rooms, balcony, parking space) which can influence on rent price in the most expensive city of Brandenburg? Look at closely

## 4.

### Steps I should follow:

##### Find the dataset
##### Define questions
##### Loading data
##### understanding data
##### Restricting data for special region or city
##### cleaning data (numerical, categorical)



##### Looking at rent prices whole Brandenburg (define most expensive and cheapest city)
##### Analysis of factors (rooms, parking spaces etc.) which may impact rent price
##### Visualisation of result (Plotting or Tableua)

In [1]:
import pandas as pd

In [22]:
!dir

 Volume in Laufwerk C: hat keine Bezeichnung.
 Volumeseriennummer: A60A-8416

 Verzeichnis von C:\Users\asgar\Ironhack\Week_5

06/02/2023  10:43    <DIR>          .
27/01/2023  15:53    <DIR>          ..
05/02/2023  18:08    <DIR>          .ipynb_checkpoints
06/02/2023  10:43            31,238 dataset_questions.ipynb
04/02/2023  23:39        97,545,791 immo_data.csv.zip
06/02/2023  09:19    <DIR>          Mid_bootcamp_project
06/02/2023  09:25           979,556 mid_project.ipynb
               3 Datei(en),     98,556,585 Bytes
               4 Verzeichnis(se), 423,174,500,352 Bytes frei

In [2]:
df = pd.read_csv('immo_data.csv.zip')
df.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,...,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,...,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,...,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,...,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

In [ ]:
df.

In [4]:
df.isna().sum()

regio1                           0
serviceCharge                 6909
heatingType                  44856
telekomTvOffer               32619
telekomHybridUploadSpeed    223830
newlyConst                       0
balcony                          0
picturecount                     0
pricetrend                    1832
telekomUploadSpeed           33358
totalRent                    40517
yearConstructed              57045
scoutId                          0
noParkSpaces                175798
firingTypes                  56964
hasKitchen                       0
geo_bln                          0
cellar                           0
yearConstructedRange         57045
baseRent                         0
houseNumber                  71018
livingSpace                      0
geo_krs                          0
condition                    68489
interiorQual                112665
petsAllowed                 114573
street                           0
streetPlain                  71013
lift                             0
baseRentRange                    0
typeOfFlat                   36614
geo_plz                          0
noRooms                          0
thermalChar                 106506
floor                        51309
numberOfFloors               97732
noRoomsRange                     0
garden                           0
livingSpaceRange                 0
regio2                           0
regio3                           0
description                  19747
facilities                   52924
heatingCosts                183332
energyEfficiencyClass       191063
lastRefurbish               188139
electricityBasePrice        222004
electricityKwhPrice         222004
date                             0
dtype: int64

# Brandenburg

In [5]:
brandenburg_df = df[df["regio1"] == 'Brandenburg']

In [24]:
brandenburg_df.noRooms.value_counts()

3.00      53700
2.00      48650
4.00      16054
1.00      13549
3.50       5779
2.50       5742
5.00       3102
1.50       1720
4.50       1200
6.00        660
5.50        209
7.00        154
8.00         63
6.50         29
2.20         19
9.00         12
2.10         11
7.50          7
1.10          4
10.00         4
15.00         4
11.00         4
2.01          4
8.50          3
3.10          2
3.01          2
12.00         2
100.00        1
1.25          1
2.70          1
23.00         1
160.00        1
2.30          1
99.50         1
30.00         1
2.90          1
21.00         1
3.40          1
45.00         1
13.00         1
Name: noRooms, dtype: int64

In [6]:
needed_cols=['regio1', 'regio2', 
'balcony', 'livingSpace', 'totalRent', 'serviceCharge',
'baseRent','typeOfFlat','lift',
'petsAllowed','floor','noRooms','livingSpace','yearConstructed','garden','cellar']

In [7]:
brandenburg_df = df.loc[:,['regio1', 'regio2', 
'balcony', 'livingSpace', 'totalRent', 'serviceCharge',
'baseRent','typeOfFlat','lift',
'petsAllowed','floor','noRooms','livingSpace','yearConstructed','garden','cellar']]
brandenburg_df.head()

,regio1,regio2,balcony,livingSpace,totalRent,serviceCharge,baseRent,typeOfFlat,lift,petsAllowed,floor,noRooms,livingSpace,yearConstructed,garden,cellar
0,Nordrhein_Westfalen,Dortmund,False,86.00,840.0,245.00,595.0,ground_floor,False,NaN,1.0,4.0,86.00,1965.0,True,True
1,Rheinland_Pfalz,Rhein_Pfalz_Kreis,True,89.00,NaN,134.00,800.0,ground_floor,False,no,NaN,3.0,89.00,1871.0,False,False
2,Sachsen,Dresden,True,83.80,1300.0,255.00,965.0,apartment,True,NaN,3.0,3.0,83.80,2019.0,False,True
3,Sachsen,Mittelsachsen_Kreis,True,58.15,NaN,58.15,343.0,other,False,NaN,3.0,3.0,58.15,1964.0,False,False
4,Bremen,Bremen,True,84.97,903.0,138.00,765.0,apartment,False,NaN,1.0,3.0,84.97,1950.0,False,False

In [8]:
brandenburg_df.isna().sum()

regio1                  0
regio2                  0
balcony                 0
livingSpace             0
totalRent           40517
serviceCharge        6909
baseRent                0
typeOfFlat          36614
lift                    0
petsAllowed        114573
floor               51309
noRooms                 0
livingSpace             0
yearConstructed     57045
garden                  0
cellar                  0
dtype: int64

In [23]:
brandenburg_df.shape

(150702, 16)

In [9]:
# simple calculation, it is obsvious -- service + base = total_rent
brandenburg_df['totalRent'] = brandenburg_df['serviceCharge'] + brandenburg_df['baseRent']

In [10]:
brandenburg_df.isna().sum()

regio1                  0
regio2                  0
balcony                 0
livingSpace             0
totalRent            6909
serviceCharge        6909
baseRent                0
typeOfFlat          36614
lift                    0
petsAllowed        114573
floor               51309
noRooms                 0
livingSpace             0
yearConstructed     57045
garden                  0
cellar                  0
dtype: int64

In [11]:
brandenburg_df.shape

(268850, 16)

In [12]:
brandenburg_df=brandenburg_df.dropna(subset=['serviceCharge','yearConstructed','typeOfFlat','floor']) # dropping Nan rows

In [13]:
brandenburg_df.isna().sum()

regio1                 0
regio2                 0
balcony                0
livingSpace            0
totalRent              0
serviceCharge          0
baseRent               0
typeOfFlat             0
lift                   0
petsAllowed        57379
floor                  0
noRooms                0
livingSpace            0
yearConstructed        0
garden                 0
cellar                 0
dtype: int64

In [14]:
brandenburg_df['petsAllowed']=brandenburg_df['petsAllowed'].fillna('no info')

In [15]:
brandenburg_df.isna().sum()

regio1             0
regio2             0
balcony            0
livingSpace        0
totalRent          0
serviceCharge      0
baseRent           0
typeOfFlat         0
lift               0
petsAllowed        0
floor              0
noRooms            0
livingSpace        0
yearConstructed    0
garden             0
cellar             0
dtype: int64

In [16]:
brandenburg_df.shape

(150702, 16)